# Contents of /etc/systemd/system/firewall.service
[Unit]
Description=Configures Firewall
After=network.target
Requires=network.target

[Service]
Type=oneshot
# Restart=always
RemainAfterExit=yes
ExecStart=SERVICES_FOLDER/scripts/config-fw.sh start --with-vpn
ExecStartPost=SERVICES_FOLDER/scripts/config-fw.sh open msteams
ExecStop=SERVICES_FOLDER/scripts/config-fw.sh stop

[Install]
WantedBy=multi-user.target