# Contents of /etc/systemd/system/vpn.service
[Unit]
Description=VPN service
After=network.target firewall.service
# Requires=network.target

[Service]
Type=oneshot
# Restart=always
RemainAfterExit=yes
ExecStart=SERVICES_FOLDER/scripts/config-vpn.sh start
ExecStop=SERVICES_FOLDER/scripts/config-vpn.sh stop

[Install]
WantedBy=multi-user.target