# Contents of /etc/systemd/system/vpn.service
[Unit]
Description=Starts VPN service
After=network.target
Requires=network.target

[Service]
Type=simple
Restart=always
ExecStart=SERVICES_FOLDER/scripts/config-vpn.sh start
ExecStop=SERVICES_FOLDER/scripts/config-vpn.sh stop

[Install]
WantedBy=multi-user.target